$backgroundPrimary: #ffffff;
$backgrouundSecondary: #f3f4f8;
$textPrimary: #23272e;
$textPrimaryLight: #4b465c;
$textSecondary: #8b909a;
$textSuccess: #28c76f;
$textWarning: #ffc600;
$textDanger: #ea5455;
$textInfo: #0f60ff;
