@import "../../styles/color.scss";

.sidebar {
  background-color: $backgroundPrimary;
  height: 100vh;
  padding: 20px;
  @media (max-width: 991px) {
    height: 100%;
  }
  &_logo {
    &_title {
      font-weight: 700;
      font-size: 22px;
      line-height: 24px;
      color: $textPrimary;
    }
    &_bugerIcon {
      cursor: pointer;
    }
  }
}
